IMPORTED PANDAS

In [1]:
import pandas as pd

READING CSV FILE

In [3]:
df = pd.read_csv("Desktop/Projects/E Commerce Analysis/Raw CSV/mini_project_store.csv")
print(df)

      Row ID        Order ID Order Date Order Date - Copy Ship Date  \
0          1  CA-2016-152156    11/8/16        11-08-2016  11/11/16
1          2  CA-2016-152156    11/8/16        11-08-2016  11/11/16
2          3  CA-2016-138688    6/12/16        06-12-2016   6/16/16
3          4  US-2015-108966   10/11/15        10-11-2015  10/18/15
4          5  US-2015-108966   10/11/15        10-11-2015  10/18/15
...      ...             ...        ...               ...       ...
9989    9990  CA-2014-110422    1/21/14               NaN   1/23/14
9990    9991  CA-2017-121258    2/26/17               NaN    3/3/17
9991    9992  CA-2017-121258    2/26/17               NaN    3/3/17
9992    9993  CA-2017-121258    2/26/17               NaN    3/3/17
9993    9994  CA-2017-119914     5/4/17        05-04-2017    5/9/17

           Ship Mode Customer ID     Customer Name    Segment        Country  \
0       Second Class    CG-12520       Claire Gute   Consumer  United States
1       Second Class    CG-12520       Claire Gute   Consumer  United States
2       Second Class    DV-13045   Darrin Van Huff  Corporate  United States
3     Standard Class    SO-20335    Sean O'Donnell   Consumer  United States
4     Standard Class    SO-20335    Sean O'Donnell   Consumer  United States
...              ...         ...               ...        ...            ...
9989    Second Class    TB-21400  Tom Boeckenhauer   Consumer  United States
9990  Standard Class    DB-13060       Dave Brooks   Consumer  United States
9991  Standard Class    DB-13060       Dave Brooks   Consumer  United States
9992  Standard Class    DB-13060       Dave Brooks   Consumer  United States
9993    Second Class    CC-12220      Chris Cortes   Consumer  United States

      ... Postal Code Region       Product ID         Category Sub-Category  \
0     ...       42420  South  FUR-BO-10001798        Furniture    Bookcases
1     ...       42420  South  FUR-CH-10000454        Furniture       Chairs
2     ...       90036   West  OFF-LA-10000240  Office Supplies       Labels
3     ...       33311  South  FUR-TA-10000577        Furniture       Tables
4     ...       33311  South  OFF-ST-10000760  Office Supplies      Storage
...   ...         ...    ...              ...              ...          ...
9989  ...       33180  South  FUR-FU-10001889        Furniture  Furnishings
9990  ...       92627   West  FUR-FU-10000747        Furniture  Furnishings
9991  ...       92627   West  TEC-PH-10003645       Technology       Phones
9992  ...       92627   West  OFF-PA-10004041  Office Supplies        Paper
9993  ...       92683   West  OFF-AP-10002684  Office Supplies   Appliances

                                           Product Name     Sales Quantity  \
0                     Bush Somerset Collection Bookcase  261.9600        2
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400        3
2     Self-Adhesive Address Labels for Typewriters b...   14.6200        2
3         Bretford CR4500 Series Slim Rectangular Table  957.5775        5
4                        Eldon Fold 'N Roll Cart System   22.3680        2
...                                                 ...       ...      ...
9989                             Ultra Door Pull Handle   25.2480        3
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.9600        2
9991                              Aastra 57i VoIP phone  258.5760        2
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.6000        4
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.1600        2

      Discount    Profit
0         0.00   41.9136
1         0.00  219.5820
2         0.00    6.8714
3         0.45 -383.0310
4         0.20    2.5164
...        ...       ...
9989      0.20    4.1028
9990      0.00   15.6332
9991      0.20   19.3932
9992      0.00   13.3200
9993      0.00   72.9480

[9994 rows x 22 columns]

DISPLAYING TOP 5 DATA

In [4]:
df.head(6)

,Row ID,Order ID,Order Date,Order Date - Copy,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/16,11-08-2016,11/11/16,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/16,11-08-2016,11/11/16,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/16,06-12-2016,6/16/16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/15,10-11-2015,10/18/15,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/15,10-11-2015,10/18/15,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
5,6,CA-2014-115812,6/9/14,06-09-2014,6/14/14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,...,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694

FINDING INFO

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Row ID             9994 non-null   int64
 1   Order ID           9994 non-null   object
 2   Order Date         9994 non-null   object
 3   Order Date - Copy  4042 non-null   object
 4   Ship Date          9994 non-null   object
 5   Ship Mode          9994 non-null   object
 6   Customer ID        9994 non-null   object
 7   Customer Name      9994 non-null   object
 8   Segment            9994 non-null   object
 9   Country            9994 non-null   object
 10  City               9994 non-null   object
 11  State              9994 non-null   object
 12  Postal Code        9994 non-null   int64
 13  Region             9994 non-null   object
 14  Product ID         9994 non-null   object
 15  Category           9994 non-null   object
 16  Sub-Category       9994 non-null   object
 17  Product Name       9994 non-null   object
 18  Sales              9994 non-null   float64
 19  Quantity           9994 non-null   int64
 20  Discount           9994 non-null   float64
 21  Profit             9994 non-null   float64
dtypes: float64(3), int64(3), object(16)
memory usage: 1.7+ MB

FINDING DESCRIPTION

In [6]:
df.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

FINDING TOTAL RAWS AND COLOUMNS

In [7]:
rows, columns = df.shape
print("Total Rows:", rows)
print("Total Columns:", columns)

Total Rows: 9994
Total Columns: 22

FINDING NULL VALUES

In [8]:
df.isnull().sum()

Row ID                  0
Order ID                0
Order Date              0
Order Date - Copy    5952
Ship Date               0
Ship Mode               0
Customer ID             0
Customer Name           0
Segment                 0
Country                 0
City                    0
State                   0
Postal Code             0
Region                  0
Product ID              0
Category                0
Sub-Category            0
Product Name            0
Sales                   0
Quantity                0
Discount                0
Profit                  0
dtype: int64

REMOVING DUPLICATE VALUES

In [9]:
duplicates = df[df.duplicated()]
print(duplicates)

Empty DataFrame
Columns: [Row ID, Order ID, Order Date, Order Date - Copy, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, Country, City, State, Postal Code, Region, Product ID, Category, Sub-Category, Product Name, Sales, Quantity, Discount, Profit]
Index: []

[0 rows x 22 columns]

FORMATING DATES

In [10]:
df['Order Date'] = pd.to_datetime(df['Order Date'])
df.head(14)

C:\Users\dharmesh\AppData\Local\Temp\ipykernel_3404\1484800439.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Order Date'] = pd.to_datetime(df['Order Date'])

,Row ID,Order ID,Order Date,Order Date - Copy,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,11-08-2016,11/11/16,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,11-08-2016,11/11/16,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,06-12-2016,6/16/16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,10-11-2015,10/18/15,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,10-11-2015,10/18/15,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
5,6,CA-2014-115812,2014-06-09,06-09-2014,6/14/14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,...,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694
6,7,CA-2014-115812,2014-06-09,06-09-2014,6/14/14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,...,90032,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800,4,0.00,1.9656
7,8,CA-2014-115812,2014-06-09,06-09-2014,6/14/14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,...,90032,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520,6,0.20,90.7152
8,9,CA-2014-115812,2014-06-09,06-09-2014,6/14/14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,...,90032,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,18.5040,3,0.20,5.7825
9,10,CA-2014-115812,2014-06-09,06-09-2014,6/14/14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,...,90032,West,OFF-AP-10002892,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge,114.9000,5,0.00,34.4700
10,11,CA-2014-115812,2014-06-09,06-09-2014,6/14/14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,...,90032,West,FUR-TA-10001539,Furniture,Tables,Chromcraft Rectangular Conference Tables,1706.1840,9,0.20,85.3092
11,12,CA-2014-115812,2014-06-09,06-09-2014,6/14/14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,...,90032,West,TEC-PH-10002033,Technology,Phones,Konftel 250 Conference�phone�- Charcoal black,911.4240,4,0.20,68.3568
12,13,CA-2017-114412,2017-04-15,NaN,4/20/17,Standard Class,AA-10480,Andrew Allen,Consumer,United States,...,28027,South,OFF-PA-10002365,Office Supplies,Paper,Xerox 1967,15.5520,3,0.20,5.4432
13,14,CA-2016-161389,2016-12-05,12-05-2016,12/10/16,Standard Class,IM-15070,Irene Maddox,Consumer,United States,...,98103,West,OFF-BI-10003656,Office Supplies,Binders,Fellowes PB200 Plastic Comb Binding Machine,407.9760,3,0.20,132.5922

In [11]:
df['Order Date'].dtype

dtype('<M8[ns]')

In [12]:
df['Order Date'].head(14)

0    2016-11-08
1    2016-11-08
2    2016-06-12
3    2015-10-11
4    2015-10-11
5    2014-06-09
6    2014-06-09
7    2014-06-09
8    2014-06-09
9    2014-06-09
10   2014-06-09
11   2014-06-09
12   2017-04-15
13   2016-12-05
Name: Order Date, dtype: datetime64[ns]

In [13]:
df.head()

,Row ID,Order ID,Order Date,Order Date - Copy,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,11-08-2016,11/11/16,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,11-08-2016,11/11/16,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,06-12-2016,6/16/16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,10-11-2015,10/18/15,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,10-11-2015,10/18/15,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

Calculating Saling Price

In [14]:
df["Saling Price"] = df["Sales"] * df["Quantity"]
print(df)
df.head()

      Row ID        Order ID Order Date Order Date - Copy Ship Date  \
0          1  CA-2016-152156 2016-11-08        11-08-2016  11/11/16
1          2  CA-2016-152156 2016-11-08        11-08-2016  11/11/16
2          3  CA-2016-138688 2016-06-12        06-12-2016   6/16/16
3          4  US-2015-108966 2015-10-11        10-11-2015  10/18/15
4          5  US-2015-108966 2015-10-11        10-11-2015  10/18/15
...      ...             ...        ...               ...       ...
9989    9990  CA-2014-110422 2014-01-21               NaN   1/23/14
9990    9991  CA-2017-121258 2017-02-26               NaN    3/3/17
9991    9992  CA-2017-121258 2017-02-26               NaN    3/3/17
9992    9993  CA-2017-121258 2017-02-26               NaN    3/3/17
9993    9994  CA-2017-119914 2017-05-04        05-04-2017    5/9/17

           Ship Mode Customer ID     Customer Name    Segment        Country  \
0       Second Class    CG-12520       Claire Gute   Consumer  United States
1       Second Class    CG-12520       Claire Gute   Consumer  United States
2       Second Class    DV-13045   Darrin Van Huff  Corporate  United States
3     Standard Class    SO-20335    Sean O'Donnell   Consumer  United States
4     Standard Class    SO-20335    Sean O'Donnell   Consumer  United States
...              ...         ...               ...        ...            ...
9989    Second Class    TB-21400  Tom Boeckenhauer   Consumer  United States
9990  Standard Class    DB-13060       Dave Brooks   Consumer  United States
9991  Standard Class    DB-13060       Dave Brooks   Consumer  United States
9992  Standard Class    DB-13060       Dave Brooks   Consumer  United States
9993    Second Class    CC-12220      Chris Cortes   Consumer  United States

      ... Region       Product ID         Category Sub-Category  \
0     ...  South  FUR-BO-10001798        Furniture    Bookcases
1     ...  South  FUR-CH-10000454        Furniture       Chairs
2     ...   West  OFF-LA-10000240  Office Supplies       Labels
3     ...  South  FUR-TA-10000577        Furniture       Tables
4     ...  South  OFF-ST-10000760  Office Supplies      Storage
...   ...    ...              ...              ...          ...
9989  ...  South  FUR-FU-10001889        Furniture  Furnishings
9990  ...   West  FUR-FU-10000747        Furniture  Furnishings
9991  ...   West  TEC-PH-10003645       Technology       Phones
9992  ...   West  OFF-PA-10004041  Office Supplies        Paper
9993  ...   West  OFF-AP-10002684  Office Supplies   Appliances

                                           Product Name     Sales Quantity  \
0                     Bush Somerset Collection Bookcase  261.9600        2
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400        3
2     Self-Adhesive Address Labels for Typewriters b...   14.6200        2
3         Bretford CR4500 Series Slim Rectangular Table  957.5775        5
4                        Eldon Fold 'N Roll Cart System   22.3680        2
...                                                 ...       ...      ...
9989                             Ultra Door Pull Handle   25.2480        3
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.9600        2
9991                              Aastra 57i VoIP phone  258.5760        2
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.6000        4
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.1600        2

     Discount    Profit  Saling Price
0        0.00   41.9136      523.9200
1        0.00  219.5820     2195.8200
2        0.00    6.8714       29.2400
3        0.45 -383.0310     4787.8875
4        0.20    2.5164       44.7360
...       ...       ...           ...
9989     0.20    4.1028       75.7440
9990     0.00   15.6332      183.9200
9991     0.20   19.3932      517.1520
9992     0.00   13.3200      118.4000
9993     0.00   72.9480      486.3200

[9994 rows x 23 columns]

,Row ID,Order ID,Order Date,Order Date - Copy,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Saling Price
0,1,CA-2016-152156,2016-11-08,11-08-2016,11/11/16,Second Class,CG-12520,Claire Gute,Consumer,United States,...,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,523.9200
1,2,CA-2016-152156,2016-11-08,11-08-2016,11/11/16,Second Class,CG-12520,Claire Gute,Consumer,United States,...,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,2195.8200
2,3,CA-2016-138688,2016-06-12,06-12-2016,6/16/16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,...,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,29.2400
3,4,US-2015-108966,2015-10-11,10-11-2015,10/18/15,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,4787.8875
4,5,US-2015-108966,2015-10-11,10-11-2015,10/18/15,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,44.7360

Calculating Purchasing Price

In [15]:
df["Purchasing Price"] = df["Saling Price"] - df["Profit"]
print(df)
df.head()

      Row ID        Order ID Order Date Order Date - Copy Ship Date  \
0          1  CA-2016-152156 2016-11-08        11-08-2016  11/11/16
1          2  CA-2016-152156 2016-11-08        11-08-2016  11/11/16
2          3  CA-2016-138688 2016-06-12        06-12-2016   6/16/16
3          4  US-2015-108966 2015-10-11        10-11-2015  10/18/15
4          5  US-2015-108966 2015-10-11        10-11-2015  10/18/15
...      ...             ...        ...               ...       ...
9989    9990  CA-2014-110422 2014-01-21               NaN   1/23/14
9990    9991  CA-2017-121258 2017-02-26               NaN    3/3/17
9991    9992  CA-2017-121258 2017-02-26               NaN    3/3/17
9992    9993  CA-2017-121258 2017-02-26               NaN    3/3/17
9993    9994  CA-2017-119914 2017-05-04        05-04-2017    5/9/17

           Ship Mode Customer ID     Customer Name    Segment        Country  \
0       Second Class    CG-12520       Claire Gute   Consumer  United States
1       Second Class    CG-12520       Claire Gute   Consumer  United States
2       Second Class    DV-13045   Darrin Van Huff  Corporate  United States
3     Standard Class    SO-20335    Sean O'Donnell   Consumer  United States
4     Standard Class    SO-20335    Sean O'Donnell   Consumer  United States
...              ...         ...               ...        ...            ...
9989    Second Class    TB-21400  Tom Boeckenhauer   Consumer  United States
9990  Standard Class    DB-13060       Dave Brooks   Consumer  United States
9991  Standard Class    DB-13060       Dave Brooks   Consumer  United States
9992  Standard Class    DB-13060       Dave Brooks   Consumer  United States
9993    Second Class    CC-12220      Chris Cortes   Consumer  United States

      ...       Product ID         Category  Sub-Category  \
0     ...  FUR-BO-10001798        Furniture     Bookcases
1     ...  FUR-CH-10000454        Furniture        Chairs
2     ...  OFF-LA-10000240  Office Supplies        Labels
3     ...  FUR-TA-10000577        Furniture        Tables
4     ...  OFF-ST-10000760  Office Supplies       Storage
...   ...              ...              ...           ...
9989  ...  FUR-FU-10001889        Furniture   Furnishings
9990  ...  FUR-FU-10000747        Furniture   Furnishings
9991  ...  TEC-PH-10003645       Technology        Phones
9992  ...  OFF-PA-10004041  Office Supplies         Paper
9993  ...  OFF-AP-10002684  Office Supplies    Appliances

                                           Product Name     Sales Quantity  \
0                     Bush Somerset Collection Bookcase  261.9600        2
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400        3
2     Self-Adhesive Address Labels for Typewriters b...   14.6200        2
3         Bretford CR4500 Series Slim Rectangular Table  957.5775        5
4                        Eldon Fold 'N Roll Cart System   22.3680        2
...                                                 ...       ...      ...
9989                             Ultra Door Pull Handle   25.2480        3
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.9600        2
9991                              Aastra 57i VoIP phone  258.5760        2
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.6000        4
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.1600        2

     Discount    Profit  Saling Price  Purchasing Price
0        0.00   41.9136      523.9200          482.0064
1        0.00  219.5820     2195.8200         1976.2380
2        0.00    6.8714       29.2400           22.3686
3        0.45 -383.0310     4787.8875         5170.9185
4        0.20    2.5164       44.7360           42.2196
...       ...       ...           ...               ...
9989     0.20    4.1028       75.7440           71.6412
9990     0.00   15.6332      183.9200          168.2868
9991     0.20   19.3932      517.1520          497.7588
9992     0.00   13.3200      118.4000          105.0800
9993     0.00   72.9480      486.3200          413.3720

[9994 rows x 24 columns]

,Row ID,Order ID,Order Date,Order Date - Copy,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Saling Price,Purchasing Price
0,1,CA-2016-152156,2016-11-08,11-08-2016,11/11/16,Second Class,CG-12520,Claire Gute,Consumer,United States,...,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,523.9200,482.0064
1,2,CA-2016-152156,2016-11-08,11-08-2016,11/11/16,Second Class,CG-12520,Claire Gute,Consumer,United States,...,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,2195.8200,1976.2380
2,3,CA-2016-138688,2016-06-12,06-12-2016,6/16/16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,...,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,29.2400,22.3686
3,4,US-2015-108966,2015-10-11,10-11-2015,10/18/15,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,4787.8875,5170.9185
4,5,US-2015-108966,2015-10-11,10-11-2015,10/18/15,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,44.7360,42.2196

Count of Products Sale by Category

In [16]:
df['Category'].value_counts()

Category
Office Supplies    6026
Furniture          2121
Technology         1847
Name: count, dtype: int64

Count of products sale by Sub-Categories

In [17]:
df['Sub-Category'].value_counts()

Sub-Category
Binders        1523
Paper          1370
Furnishings     957
Phones          889
Storage         846
Art             796
Accessories     775
Chairs          617
Appliances      466
Labels          364
Tables          319
Envelopes       254
Bookcases       228
Fasteners       217
Supplies        190
Machines        115
Copiers          68
Name: count, dtype: int64

Count of state

In [18]:
df['State'].value_counts()

State
California              2001
New York                1128
Texas                    985
Pennsylvania             587
Washington               506
Illinois                 492
Ohio                     469
Florida                  383
Michigan                 255
North Carolina           249
Arizona                  224
Virginia                 224
Georgia                  184
Tennessee                183
Colorado                 182
Indiana                  149
Kentucky                 139
Massachusetts            135
New Jersey               130
Oregon                   124
Wisconsin                110
Maryland                 105
Delaware                  96
Minnesota                 89
Connecticut               82
Missouri                  66
Oklahoma                  66
Alabama                   61
Arkansas                  60
Rhode Island              56
Utah                      53
Mississippi               53
South Carolina            42
Louisiana                 42
Nevada                    39
Nebraska                  38
New Mexico                37
Iowa                      30
New Hampshire             27
Kansas                    24
Idaho                     21
Montana                   15
South Dakota              12
Vermont                   11
District of Columbia      10
Maine                      8
North Dakota               7
West Virginia              4
Wyoming                    1
Name: count, dtype: int64

Count of City

In [19]:
df['City'].value_counts()

City
New York City    915
Los Angeles      747
Philadelphia     537
San Francisco    510
Seattle          428
                ...
Abilene            1
Montebello         1
Kissimmee          1
Danbury            1
Springdale         1
Name: count, Length: 531, dtype: int64

In [20]:
df.to_csv("mydata.csv", index=True)

In [21]:
print(df.columns)

Index(['Row ID', 'Order ID', 'Order Date', 'Order Date - Copy', 'Ship Date',
       'Ship Mode', 'Customer ID', 'Customer Name', 'Segment', 'Country',
       'City', 'State', 'Postal Code', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Saling Price', 'Purchasing Price'],
      dtype='object')